# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/dist
/distreact
/distnextjs
/publish-example
/convex/_generated

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js

# package build artifacts
/packages/auth/dist
/packages/auth/src/server/version.ts

# CDN deploy staging
/cdn-stage

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

playwright-report/
test-results/
